---
layout: default
section: home
slug: home
title: Home | Minormatters
---

<div class="row page-content-wrap">
    <div class="col-md-12">


    <div class="main-content page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
            <div class="fullwidth">

        <div class="row">

            {% include heading.html %}

            <div class="col-md-12 intro-block">
                <div class="fullwidth intro-block-wrap">
                    <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 intro-txt">
                        <h3>Hi, Welcome to</h3>
                        <h2><img src="{{site.baseurl}}/images/home/minormatters-yellow.svg" /></h2>
                        <p>MinorMatters is a public movement dedicated to fostering religious harmony and protecting the freedom of religion or belief in Sri Lanka.  We support efforts to advance reconciliation, counter religious extremism and promote national coexistence.
                            In 2019, MinorMatters was a recipient of the Intercultural Innovation Award by the United Nations Alliance of Civilizations (UNAOC) and the BMW group for our work to build a virtual museum integrated with an e-Learning platform to promote FoRB in Sri Lanka.
                        </p>
                        <a href="https://www.minormatters.org/" target="_blank">More</a>
                    </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 intro-img">
                            <img src="{{site.baseurl}}/images/home/side-image-intro.png" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row latest-list">
            <div class="col-md-12">
                <h2>Know the latest</h2>
                <a class="view-more view-more-desktop" href="{{site.baseurl}}/pick-a-course/">Show all ></a>
            </div>



            <div class="col-lg-4 same-height-row col-md-6 cat-two-block element-block-wrap">
                <div class="element-block category-three" >
                    <a href="{{site.baseurl}}/pick-a-course/pick-a-lesson.html">
                        <div class="element-block-inner">
                        <h3>The State of FoRB in Sri Lanka</h3>
                        <p>This course discusses the history and contemporary dynamics of the freedom
                            of religion or belief in Sri Lanka and explores how FoRB intersects with other freedoms.</p>
                        </div>
                    </a>

                        <div class="elemnt-info">
                            <div class="icons-wrap">
                                <span class="course-status">Ongoing : Scheduled</span>
                                <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                            </div>
                        </div>

                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  element-block-wrap">
                <div class="element-block category-three" >
                    <a href="{{site.baseurl}}/pick-a-course/lesson-2.html">
                        <div class="element-block-inner">
                            <h3>Addressing issues in the Digital Space: Freedoms and Democracy</h3>
                            <p>This course provides an overview of the digital space and an introduction to key elements such as algorithms, datafication and surveillance capitalism.
                                The course also discusses issues of FoRB as it relates to the digital space in Sri Lanka.</p>
                        </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Ongoing : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 same-height-row col-md-12  element-block-wrap">
                <div class="element-block category-three" >
                    <a href="{{site.baseurl}}/pick-a-course/">
                        <div class="element-block-inner">
                            <h3>Understanding Religious Extremism in Sri Lanka</h3>
                            <p>This course analyses the historical and contemporary dynamics in relation to religious extremism in Sri Lanka.
                                The course also discusses the different drivers of and strategies to counter religious extremism.
                            </p>
                        </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Coming soon : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-lg-12 viewmore-mobile"> <a class="view-more view-more-mob" href="{{site.baseurl}}/pick-a-course/">Show all ></a> </div>

        </div>


       <!-- <div class="row vtour-wrap">
            <div class="col-md-12">
                <div class="fullwidth vtour ">
                    <div class="vtour-info">
                        <h3>Take a virtual tour through history</h3>
                        <p>Experience and learn events from the past through our virtual museum.</p>
                    </div>
                </div>
            </div>
        </div> -->

                <div class="row bottom-banner">
                    <div class="col-md-12">
                        <div class="fullwidth btm-banner-wrap ">
                                <img src="{{site.baseurl}}/images/home/aiyo-alice.png" />
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>




    <div class=" side-widget page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
            <div class="side-bar-inner fullwidth">

                {% include search.html %}

                <div class="awards-wrap fullwidth">
                    <div class="fullwidth awards-inner">
                        <img src="{{site.baseurl}}/images/home/awards.jpg" />
                    </div>
                </div>

                <div class="news-subscribe fullwidth">
                    <div class="fullwidth news-subscribe-inner">
                        <h3>Subscribe to our Newsletter</h3>
                        <div class="form-wrap fullwidth">
                            <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email *" />
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </div>



                <div class="pick-a-course fullwidth">
                    <a href="{{site.baseurl}}/pick-a-course/">
                    <div class="fullwidth pick-a-course-inner">
                        <h3>Pick a Course</h3>
                        <div class="img-wraper"><img src="{{site.baseurl}}/images/home/pick-a-course-img.svg" /></div>
                    </div>
                    </a>
                </div>


                <div class="tutors-box fullwidth">
                    <div class="fullwidth tutors-box-inner">
                        <h3>Tutors</h3>
                        <div class="tutors-list fullwidth">
                            <div class="row">

                                <div class="col-lg-4 col-xs-4 tutor-img">
                                    <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-rambukwella.jpg" /></div>
                                    <span>Prof. Harshana Rambukwella</span>
                                </div>
                                <div class="col-lg-4 col-xs-4 tutor-img">
                                    <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-niya.jpg" /></div>
                                    <span>Niyanthini Kadiragamar</span>
                                </div>
                                <div class="col-lg-4 col-xs-4 tutor-img">
                                    <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-kaushalya-p.jpg" /></div>
                                    <span>Dr. Kaushalya Perera</span>
                                </div>
                                <div class="col-lg-4 col-xs-4 tutor-img">
                                    <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-kaushalya.jpg" /></div>
                                    <span>Kaushalya Kumarasinghe</span>
                                </div>
                                <div class="col-lg-4 col-xs-4 tutor-img">
                                    <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-anushka.jpg" /></div>
                                    <span>Anushka Kahandagama</span>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>


                <div class="extra-box fullwidth">
                    <div class="fullwidth tutors-box-inner">
                        <h3>Partners</h3>
                        <div class="img-wraper fullwidth"><img src="{{site.baseurl}}/images/home/road-to-tights.png" /></div>
                    </div>
                </div>





        </div>
    </div>


</div>



</div>