<footer class="site-footer">

    <div class=" footer-bottom fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-rights "> &copy;  <script>document.write(new Date().getFullYear())</script>   minormatters.org. All rights reserved.</div>
                    <div class="footer-contact ">Contact: <a href="mailto:elearning@minormatters.org">elearning@minormatters.org</a></div>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/minormatters.org" target="_blank"><img src="{{site.baseurl}}/images/icons/icon-fb-green.svg" /></a>
                        <a href="https://twitter.com/minormattersorg" target="_blank"><img src="{{site.baseurl}}/images/icons/icon-tw-green.svg" /></a>
                        <a href="https://www.instagram.com/minormattersorg/" target="_blank"><img src="{{site.baseurl}}/images/icons/icon-ins-green.svg" /></a>
                        <a href="https://www.youtube.com/channel/UCVNdPlEqbJWTQXvw54r4mPA" target="_blank"><img src="{{site.baseurl}}/images/icons/icon-utb-green.svg" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>



<script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/slick.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.matchHeight.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/lightbox.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/simplebar.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.hover.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>


