<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">


    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/slick.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/lightbox.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/simplebar.css' | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ '/fonts/fonts.css' | prepend: site.baseurl }}">

    <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.png" />


</head>
