<header class="site-header header-desktop">
    <div class="header-inner">
        <div class="heading"><a href="{{site.baseurl}}"><img src="{{site.baseurl}}/images/nav/brand-logo.svg" alt="Minormatters" /></a></div>
        <div class="nav-wraper fullwidth">
        <ul>
            <li><a href="{{site.baseurl}}/"   data-hover="Dashboard">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="index-1.0" transform="translate(-85.000000, -199.000000)"  class="svg-inner"  fill-rule="nonzero">
                            <g id="category" transform="translate(85.000000, 199.000000)">
                                <path d="M2.89068232,0.0497738095 C1.34572725,0.0497738095 0.0667676318,1.32947176 0.0667676318,2.87411679 L0.0667676318,10.2278938 C0.0667676318,11.7707796 1.3460791,13.0497738 2.89068232,13.0497738 L10.2428529,13.0497738 C11.787808,13.0497738 13.0667676,11.7707796 13.0667676,10.2278938 L13.0667676,2.87411679 C13.0667676,1.3291199 11.7874562,0.0497738095 10.2428529,0.0497738095 L2.89068232,0.0497738095 L2.89068232,0.0497738095 Z" id="Shape"></path>
                                <path d="M3.14137919,16.0973929 C1.57634656,16.0973929 0.280766147,17.3894445 0.280766147,18.95452 L0.280766147,26.2377707 C0.280766147,27.8028462 1.57670298,29.0973929 3.14137919,29.0973929 L10.4201531,29.0973929 C11.9851857,29.0973929 13.2807661,27.8024898 13.2807661,26.2377707 L13.2807661,18.95452 C13.2807661,17.3894445 11.9848293,16.0973929 10.4201531,16.0973929 L3.14137919,16.0973929 Z" id="Shape"></path>
                                <path d="M18.9354816,0.268440476 C17.3704489,0.268440476 16.0752249,1.56334356 16.0752249,3.12699338 L16.0752249,10.4081054 C16.0752249,11.973181 17.3708054,13.2684405 18.9354816,13.2684405 L26.216394,13.2684405 C27.7792881,13.2684405 29.0752249,11.9728245 29.0752249,10.4081054 L29.0752249,3.12699338 C29.0752249,1.56334356 27.7792881,0.268440476 26.216394,0.268440476 L18.9354816,0.268440476 Z" id="Shape"></path>
                                <path d="M18.9354816,16.0973929 C17.3704489,16.0973929 16.0752249,17.3894445 16.0752249,18.95452 L16.0752249,26.2377707 C16.0752249,27.8028462 17.3708054,29.0973929 18.9354816,29.0973929 L26.216394,29.0973929 C27.7792881,29.0973929 29.0752249,27.8024898 29.0752249,26.2377707 L29.0752249,18.95452 C29.0752249,17.3894445 27.7792881,16.0973929 26.216394,16.0973929 L18.9354816,16.0973929 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a></li>
            <li><a href="{{site.baseurl}}/pick-a-course/"   data-hover="Courses">
                <svg width="32px" height="30px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="index-1.0" transform="translate(-84.000000, -299.000000)" class="svg-inner" fill-rule="nonzero">
                            <g id="presentation" transform="translate(84.000000, 299.000000)">
                                <path d="M21.1799593,29.9796334 C20.9375153,29.9796334 20.6911609,29.9118534 20.4734827,29.769776 L14.9337678,26.1852546 C14.3302648,25.7942159 14.1569043,24.9873727 14.547943,24.3825662 C14.9389817,23.7790631 15.7458248,23.6057026 16.3506314,23.9967413 L21.8903462,27.5812627 C22.4938493,27.9723014 22.6672098,28.7791446 22.2761711,29.3839511 C22.0259063,29.769776 21.6074949,29.9796334 21.1799593,29.9796334 Z" id="Path"></path>
                                <path d="M10.1031365,29.9796334 C9.67560081,29.9796334 9.25718941,29.769776 9.00822811,29.3839511 C8.61718941,28.7791446 8.7905499,27.9723014 9.39405295,27.5812627 L14.9337678,23.9967413 C15.5385743,23.6043992 16.3454175,23.7790631 16.7364562,24.3825662 C17.1274949,24.9873727 16.9541344,25.7942159 16.3506314,26.1852546 L10.8109165,29.769776 C10.5906314,29.9118534 10.3455804,29.9796334 10.1031365,29.9796334 Z" id="Path"></path>
                                <path d="M14.3380855,23.4623218 L14.3380855,28.6761711 C14.3380855,29.3956823 14.9220367,29.9796334 15.6415479,29.9796334 C16.3610591,29.9796334 16.9450102,29.3956823 16.9450102,28.6761711 L16.9450102,23.4623218 L14.3380855,23.4623218 Z" id="Path"></path>
                                <path d="M28.3503055,7.16904277 L2.93279022,7.16904277 C2.70989817,7.16904277 2.49482688,7.13645621 2.28105906,7.10256619 L2.28105906,19.8778004 C2.28105906,21.1356415 3.30427699,22.1588595 4.56211813,22.1588595 L26.7209776,22.1588595 C27.9788187,22.1588595 29.0020367,21.1356415 29.0020367,19.8778004 L29.0020367,7.10256619 C28.7882688,7.13645621 28.5731976,7.16904277 28.3503055,7.16904277 Z M23.490998,11.2553971 L18.5143788,17.3073727 C18.0933605,17.8196334 17.3542974,17.9343381 16.7977189,17.573279 L13.9392261,15.7184521 L9.70688391,19.8347862 C9.45401222,20.0811405 9.12553971,20.203666 8.79837067,20.203666 C8.45816701,20.203666 8.1192668,20.0720163 7.86378819,19.8087169 C7.36195519,19.2925458 7.37368635,18.4674542 7.88985743,17.9656212 L12.8664766,13.1245621 C13.3005295,12.6996334 13.9718126,12.6331568 14.4853768,12.9655397 L17.2408961,14.7525866 L21.4784521,9.6 C21.9359674,9.04472505 22.7584521,8.96521385 23.3137271,9.42142566 C23.869002,9.87894094 23.9485132,10.6988187 23.490998,11.2553971 L23.490998,11.2553971 Z" id="Shape"></path>
                                <path d="M28.3503055,5.86558045 L2.93279022,5.86558045 C1.31519348,5.86558045 0,4.55038697 0,2.93279022 C0,1.31519348 1.31519348,0 2.93279022,0 L28.3503055,0 C29.9679022,0 31.2830957,1.31519348 31.2830957,2.93279022 C31.2830957,4.55038697 29.9679022,5.86558045 28.3503055,5.86558045 Z" id="Path"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a></li>
            <li><a href="{{site.baseurl}}/resources/"   data-hover="Resources">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="index-1.0" transform="translate(-85.000000, -399.000000)" class="svg-inner" fill-rule="nonzero">
                            <g id="rocket-launch(1)" transform="translate(85.000000, 399.000000)">
                                <path d="M3.18439024,21.6626341 C1.94809756,22.8989268 0.224780488,28.5559024 0.0374634146,29.1927805 C-0.0374634146,29.4924878 0.112390244,29.8296585 0.449560976,29.9045854 C0.48702439,29.9045854 0.56195122,29.9420488 0.599414634,29.9420488 C0.636878049,29.9420488 0.711804878,29.9420488 0.749268293,29.9045854 C1.38614634,29.7172683 7.04312195,27.9939512 8.27941463,26.7576585 C9.70302439,25.3340488 9.70302439,23.0487805 8.27941463,21.6626341 C6.89326829,20.2764878 4.608,20.2764878 3.18439024,21.6626341 L3.18439024,21.6626341 Z" id="Path"></path>
                                <path d="M29.5960976,1.0577561 C29.5211707,0.720585366 29.2589268,0.495804878 28.9217561,0.383414634 C27.4606829,0.0837073171 25.9246829,-0.0286829268 24.4261463,0.0087804878 C18.8066341,0.0087804878 15.4349268,3.00585366 12.924878,6.97697561 L7.26790244,6.97697561 C6.29385366,7.01443902 5.43219512,7.57639024 4.94517073,8.40058537 L2.24780488,13.7953171 C2.17287805,13.9826341 2.13541463,14.1699512 2.09795122,14.3947317 C2.09795122,15.1065366 2.69736585,15.7059512 3.40917073,15.7059512 L9.06614634,15.7059512 L7.86731707,16.9047805 C7.19297561,17.579122 7.19297561,18.665561 7.86731707,19.3773659 L10.6396098,22.1496585 C11.3139512,22.824 12.4003902,22.824 13.1121951,22.1496585 L14.3484878,20.9133659 L14.3484878,26.5703415 C14.3484878,27.2821463 14.910439,27.881561 15.6597073,27.881561 C15.8470244,27.881561 16.0343415,27.8440976 16.2216585,27.7691707 L21.5789268,25.0718049 C22.4405854,24.5847805 22.9650732,23.723122 23.0025366,22.7490732 L23.0025366,17.0171707 C26.9736585,14.507122 29.9707317,11.1354146 29.9707317,5.55336585 C30.0081951,4.05482927 29.8958049,2.55629268 29.5960976,1.0577561 Z M23.0025366,9.14985366 C21.8037073,9.14985366 20.8296585,8.17580488 20.8296585,6.97697561 C20.8296585,5.77814634 21.8037073,4.80409756 23.0025366,4.80409756 C24.2013659,4.80409756 25.1754146,5.77814634 25.1754146,6.97697561 C25.1754146,8.17580488 24.2013659,9.14985366 23.0025366,9.14985366 Z" id="_Path_"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a></li>

            <li><a href="{{site.baseurl}}/videos/"  data-hover="Videos">
                <svg width="38px" height="30px" viewBox="0 0 38 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="index-1.0" transform="translate(-81.000000, -499.000000)" fill-rule="nonzero" class="svg-inner">
                            <g id="multimedia-player" transform="translate(81.000000, 499.000000)">
                                <rect id="Rectangle"   x="30.7351449" y="10.3835507" width="6.36630435" height="9.23297101"></rect>
                                <path d="M35.9657246,0.0147826087 L30.7351449,0.0147826087 L30.7351449,8.11195652 L37.1014493,8.11195652 L37.1014493,1.15057971 C37.1014493,0.523623188 36.5926087,0.0147826087 35.9657246,0.0147826087 Z" id="Path"  ></path>
                                <path d="M30.7351449,21.887971 L30.7351449,29.9851449 L35.9657246,29.9851449 C36.5926812,29.9851449 37.1014493,29.4763043 37.1014493,28.8494203 L37.1014493,21.887971 L30.7351449,21.887971 Z" id="Path"  ></path>
                                <path d="M8.63782609,0.0147826087 L8.63782609,29.9851449 L28.4636232,29.9851449 L28.4636232,0.0147826087 L8.63782609,0.0147826087 Z M23.576087,15.982029 L16.2860145,20.2153623 C15.5288406,20.654058 14.5800725,20.1086957 14.5800725,19.2333333 L14.5800725,10.7666667 C14.5800725,9.89224638 15.5291304,9.3457971 16.2860145,9.78463768 L23.576087,14.017971 C24.3288406,14.4546377 24.3297101,15.5449275 23.576087,15.982029 Z" id="Shape" ></path>
                                <rect id="Rectangle"   x="0" y="10.3835507" width="6.36630435" height="9.23297101"></rect>
                                <path d="M1.13572464,0.0147826087 C0.50884058,0.0147826087 0,0.523623188 0,1.15057971 L0,8.11202899 L6.36630435,8.11202899 L6.36630435,0.0147826087 L1.13572464,0.0147826087 Z" id="Path"  ></path>
                                <path d="M0,21.887971 L0,28.8494203 C0,29.4763768 0.50884058,29.9851449 1.13572464,29.9851449 L6.36630435,29.9851449 L6.36630435,21.887971 L0,21.887971 Z" id="Path"  ></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a></li>

            <li><a href="#"  data-hover="Webinars">
                <svg width="32px" height="30px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="group-section-1"  class="svg-inner" transform="translate(-84.000000, -599.000000)"   fill-rule="nonzero">
                            <g id="group" transform="translate(84.000000, 599.000000)">
                                <path d="M11.1111111,28.3022222 L11.1111111,30 L0,30 L0,28.3022222 C0,26.1177778 1.41888889,24.2822222 3.37888889,23.6166667 C2.67555556,23.0055556 2.22222222,22.1155556 2.22222222,21.1111111 C2.22222222,19.27 3.71444444,17.7777778 5.55555556,17.7777778 C7.39666667,17.7777778 8.88888889,19.27 8.88888889,21.1111111 C8.88888889,22.1155556 8.43555556,23.0055556 7.73222222,23.6166667 C9.69222222,24.2822222 11.1111111,26.1177778 11.1111111,28.3022222 Z" id="Path"></path>
                                <path d="M21.1111111,12.2222222 L10,12.2222222 L10,10.5244444 C10,8.34 11.4188889,6.50444444 13.3788889,5.83888889 C12.6755556,5.22777778 12.2222222,4.33777778 12.2222222,3.33333333 C12.2222222,1.49222222 13.7144444,0 15.5555556,0 C17.3966667,0 18.8888889,1.49222222 18.8888889,3.33333333 C18.8888889,4.33777778 18.4355556,5.22777778 17.7322222,5.83888889 C19.6922222,6.50444444 21.1111111,8.34 21.1111111,10.5244444 L21.1111111,12.2222222 Z" id="Path"></path>
                                <path d="M31.1111111,28.3022222 L31.1111111,30 L20,30 L20,28.3022222 C20,26.1177778 21.4188889,24.2822222 23.3788889,23.6166667 C22.6755556,23.0055556 22.2222222,22.1155556 22.2222222,21.1111111 C22.2222222,19.27 23.7144444,17.7777778 25.5555556,17.7777778 C27.3966667,17.7777778 28.8888889,19.27 28.8888889,21.1111111 C28.8888889,22.1155556 28.4355556,23.0055556 27.7322222,23.6166667 C29.6922222,24.2822222 31.1111111,26.1177778 31.1111111,28.3022222 Z" id="Path"></path>
                                <path d="M19.5055556,20.1866667 C20.0155556,20.5266667 20.1533333,21.2166667 19.8133333,21.7277778 C19.4722222,22.2388889 18.7811111,22.3755556 18.2722222,22.0355556 L15.5555556,20.2244444 L12.8388889,22.0355556 C12.3277778,22.3766667 11.6388889,22.2377778 11.2977778,21.7277778 C10.9577778,21.2177778 11.0955556,20.5266667 11.6055556,20.1866667 L14.4444444,18.2944444 L14.4444444,15.5555556 C14.4444444,14.9422222 14.9422222,14.4444444 15.5555556,14.4444444 C16.1688889,14.4444444 16.6666667,14.9422222 16.6666667,15.5555556 L16.6666667,18.2944444 L19.5055556,20.1866667 Z" id="Path"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a></li>

        </ul>
        </div>

        <div class="botttom-dots"><img src="{{site.baseurl}}/images/nav/bottom-dots.svg"/></div>
    </div>
</header>




<header class="site-header header-mobile">

    <div class="fullwidth header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-logo">
                        <div class="row">
                            {% include heading.html %}
                        </div>
                    </div>
                    <div class="search-line">
                        <a class="search-btn"><img src="{{site.baseurl}}/images/icons/icon-search.png"/></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                    <div class="nav-wraper fullwidth">
                        <ul>
                            <li><a href="{{site.baseurl}}/index.html" >
                                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="index-1.0" transform="translate(-85.000000, -199.000000)"  class="svg-inner"  fill-rule="nonzero">
                                            <g id="category" transform="translate(85.000000, 199.000000)">
                                                <path d="M2.89068232,0.0497738095 C1.34572725,0.0497738095 0.0667676318,1.32947176 0.0667676318,2.87411679 L0.0667676318,10.2278938 C0.0667676318,11.7707796 1.3460791,13.0497738 2.89068232,13.0497738 L10.2428529,13.0497738 C11.787808,13.0497738 13.0667676,11.7707796 13.0667676,10.2278938 L13.0667676,2.87411679 C13.0667676,1.3291199 11.7874562,0.0497738095 10.2428529,0.0497738095 L2.89068232,0.0497738095 L2.89068232,0.0497738095 Z" id="Shape"></path>
                                                <path d="M3.14137919,16.0973929 C1.57634656,16.0973929 0.280766147,17.3894445 0.280766147,18.95452 L0.280766147,26.2377707 C0.280766147,27.8028462 1.57670298,29.0973929 3.14137919,29.0973929 L10.4201531,29.0973929 C11.9851857,29.0973929 13.2807661,27.8024898 13.2807661,26.2377707 L13.2807661,18.95452 C13.2807661,17.3894445 11.9848293,16.0973929 10.4201531,16.0973929 L3.14137919,16.0973929 Z" id="Shape"></path>
                                                <path d="M18.9354816,0.268440476 C17.3704489,0.268440476 16.0752249,1.56334356 16.0752249,3.12699338 L16.0752249,10.4081054 C16.0752249,11.973181 17.3708054,13.2684405 18.9354816,13.2684405 L26.216394,13.2684405 C27.7792881,13.2684405 29.0752249,11.9728245 29.0752249,10.4081054 L29.0752249,3.12699338 C29.0752249,1.56334356 27.7792881,0.268440476 26.216394,0.268440476 L18.9354816,0.268440476 Z" id="Shape"></path>
                                                <path d="M18.9354816,16.0973929 C17.3704489,16.0973929 16.0752249,17.3894445 16.0752249,18.95452 L16.0752249,26.2377707 C16.0752249,27.8028462 17.3708054,29.0973929 18.9354816,29.0973929 L26.216394,29.0973929 C27.7792881,29.0973929 29.0752249,27.8024898 29.0752249,26.2377707 L29.0752249,18.95452 C29.0752249,17.3894445 27.7792881,16.0973929 26.216394,16.0973929 L18.9354816,16.0973929 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>
                            <li><a href="{{site.baseurl}}/pick-a-course/index.html">
                                <svg width="32px" height="30px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="index-1.0" transform="translate(-84.000000, -299.000000)" class="svg-inner" fill-rule="nonzero">
                                            <g id="presentation" transform="translate(84.000000, 299.000000)">
                                                <path d="M21.1799593,29.9796334 C20.9375153,29.9796334 20.6911609,29.9118534 20.4734827,29.769776 L14.9337678,26.1852546 C14.3302648,25.7942159 14.1569043,24.9873727 14.547943,24.3825662 C14.9389817,23.7790631 15.7458248,23.6057026 16.3506314,23.9967413 L21.8903462,27.5812627 C22.4938493,27.9723014 22.6672098,28.7791446 22.2761711,29.3839511 C22.0259063,29.769776 21.6074949,29.9796334 21.1799593,29.9796334 Z" id="Path"></path>
                                                <path d="M10.1031365,29.9796334 C9.67560081,29.9796334 9.25718941,29.769776 9.00822811,29.3839511 C8.61718941,28.7791446 8.7905499,27.9723014 9.39405295,27.5812627 L14.9337678,23.9967413 C15.5385743,23.6043992 16.3454175,23.7790631 16.7364562,24.3825662 C17.1274949,24.9873727 16.9541344,25.7942159 16.3506314,26.1852546 L10.8109165,29.769776 C10.5906314,29.9118534 10.3455804,29.9796334 10.1031365,29.9796334 Z" id="Path"></path>
                                                <path d="M14.3380855,23.4623218 L14.3380855,28.6761711 C14.3380855,29.3956823 14.9220367,29.9796334 15.6415479,29.9796334 C16.3610591,29.9796334 16.9450102,29.3956823 16.9450102,28.6761711 L16.9450102,23.4623218 L14.3380855,23.4623218 Z" id="Path"></path>
                                                <path d="M28.3503055,7.16904277 L2.93279022,7.16904277 C2.70989817,7.16904277 2.49482688,7.13645621 2.28105906,7.10256619 L2.28105906,19.8778004 C2.28105906,21.1356415 3.30427699,22.1588595 4.56211813,22.1588595 L26.7209776,22.1588595 C27.9788187,22.1588595 29.0020367,21.1356415 29.0020367,19.8778004 L29.0020367,7.10256619 C28.7882688,7.13645621 28.5731976,7.16904277 28.3503055,7.16904277 Z M23.490998,11.2553971 L18.5143788,17.3073727 C18.0933605,17.8196334 17.3542974,17.9343381 16.7977189,17.573279 L13.9392261,15.7184521 L9.70688391,19.8347862 C9.45401222,20.0811405 9.12553971,20.203666 8.79837067,20.203666 C8.45816701,20.203666 8.1192668,20.0720163 7.86378819,19.8087169 C7.36195519,19.2925458 7.37368635,18.4674542 7.88985743,17.9656212 L12.8664766,13.1245621 C13.3005295,12.6996334 13.9718126,12.6331568 14.4853768,12.9655397 L17.2408961,14.7525866 L21.4784521,9.6 C21.9359674,9.04472505 22.7584521,8.96521385 23.3137271,9.42142566 C23.869002,9.87894094 23.9485132,10.6988187 23.490998,11.2553971 L23.490998,11.2553971 Z" id="Shape"></path>
                                                <path d="M28.3503055,5.86558045 L2.93279022,5.86558045 C1.31519348,5.86558045 0,4.55038697 0,2.93279022 C0,1.31519348 1.31519348,0 2.93279022,0 L28.3503055,0 C29.9679022,0 31.2830957,1.31519348 31.2830957,2.93279022 C31.2830957,4.55038697 29.9679022,5.86558045 28.3503055,5.86558045 Z" id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>
                            <li><a href="{{site.baseurl}}/resources/">
                                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="index-1.0" transform="translate(-85.000000, -399.000000)" class="svg-inner" fill-rule="nonzero">
                                            <g id="rocket-launch(1)" transform="translate(85.000000, 399.000000)">
                                                <path d="M3.18439024,21.6626341 C1.94809756,22.8989268 0.224780488,28.5559024 0.0374634146,29.1927805 C-0.0374634146,29.4924878 0.112390244,29.8296585 0.449560976,29.9045854 C0.48702439,29.9045854 0.56195122,29.9420488 0.599414634,29.9420488 C0.636878049,29.9420488 0.711804878,29.9420488 0.749268293,29.9045854 C1.38614634,29.7172683 7.04312195,27.9939512 8.27941463,26.7576585 C9.70302439,25.3340488 9.70302439,23.0487805 8.27941463,21.6626341 C6.89326829,20.2764878 4.608,20.2764878 3.18439024,21.6626341 L3.18439024,21.6626341 Z" id="Path"></path>
                                                <path d="M29.5960976,1.0577561 C29.5211707,0.720585366 29.2589268,0.495804878 28.9217561,0.383414634 C27.4606829,0.0837073171 25.9246829,-0.0286829268 24.4261463,0.0087804878 C18.8066341,0.0087804878 15.4349268,3.00585366 12.924878,6.97697561 L7.26790244,6.97697561 C6.29385366,7.01443902 5.43219512,7.57639024 4.94517073,8.40058537 L2.24780488,13.7953171 C2.17287805,13.9826341 2.13541463,14.1699512 2.09795122,14.3947317 C2.09795122,15.1065366 2.69736585,15.7059512 3.40917073,15.7059512 L9.06614634,15.7059512 L7.86731707,16.9047805 C7.19297561,17.579122 7.19297561,18.665561 7.86731707,19.3773659 L10.6396098,22.1496585 C11.3139512,22.824 12.4003902,22.824 13.1121951,22.1496585 L14.3484878,20.9133659 L14.3484878,26.5703415 C14.3484878,27.2821463 14.910439,27.881561 15.6597073,27.881561 C15.8470244,27.881561 16.0343415,27.8440976 16.2216585,27.7691707 L21.5789268,25.0718049 C22.4405854,24.5847805 22.9650732,23.723122 23.0025366,22.7490732 L23.0025366,17.0171707 C26.9736585,14.507122 29.9707317,11.1354146 29.9707317,5.55336585 C30.0081951,4.05482927 29.8958049,2.55629268 29.5960976,1.0577561 Z M23.0025366,9.14985366 C21.8037073,9.14985366 20.8296585,8.17580488 20.8296585,6.97697561 C20.8296585,5.77814634 21.8037073,4.80409756 23.0025366,4.80409756 C24.2013659,4.80409756 25.1754146,5.77814634 25.1754146,6.97697561 C25.1754146,8.17580488 24.2013659,9.14985366 23.0025366,9.14985366 Z" id="_Path_"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>

                            <li><a href="{{site.baseurl}}/videos/">
                                <svg width="38px" height="30px" viewBox="0 0 38 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="index-1.0" transform="translate(-81.000000, -499.000000)" fill-rule="nonzero" class="svg-inner">
                                            <g id="multimedia-player" transform="translate(81.000000, 499.000000)">
                                                <rect id="Rectangle"   x="30.7351449" y="10.3835507" width="6.36630435" height="9.23297101"></rect>
                                                <path d="M35.9657246,0.0147826087 L30.7351449,0.0147826087 L30.7351449,8.11195652 L37.1014493,8.11195652 L37.1014493,1.15057971 C37.1014493,0.523623188 36.5926087,0.0147826087 35.9657246,0.0147826087 Z" id="Path"  ></path>
                                                <path d="M30.7351449,21.887971 L30.7351449,29.9851449 L35.9657246,29.9851449 C36.5926812,29.9851449 37.1014493,29.4763043 37.1014493,28.8494203 L37.1014493,21.887971 L30.7351449,21.887971 Z" id="Path"  ></path>
                                                <path d="M8.63782609,0.0147826087 L8.63782609,29.9851449 L28.4636232,29.9851449 L28.4636232,0.0147826087 L8.63782609,0.0147826087 Z M23.576087,15.982029 L16.2860145,20.2153623 C15.5288406,20.654058 14.5800725,20.1086957 14.5800725,19.2333333 L14.5800725,10.7666667 C14.5800725,9.89224638 15.5291304,9.3457971 16.2860145,9.78463768 L23.576087,14.017971 C24.3288406,14.4546377 24.3297101,15.5449275 23.576087,15.982029 Z" id="Shape" ></path>
                                                <rect id="Rectangle"   x="0" y="10.3835507" width="6.36630435" height="9.23297101"></rect>
                                                <path d="M1.13572464,0.0147826087 C0.50884058,0.0147826087 0,0.523623188 0,1.15057971 L0,8.11202899 L6.36630435,8.11202899 L6.36630435,0.0147826087 L1.13572464,0.0147826087 Z" id="Path"  ></path>
                                                <path d="M0,21.887971 L0,28.8494203 C0,29.4763768 0.50884058,29.9851449 1.13572464,29.9851449 L6.36630435,29.9851449 L6.36630435,21.887971 L0,21.887971 Z" id="Path"  ></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>

                            <li><a href="#">
                                <svg width="32px" height="30px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="group-section-1"  class="svg-inner" transform="translate(-84.000000, -599.000000)"   fill-rule="nonzero">
                                            <g id="group" transform="translate(84.000000, 599.000000)">
                                                <path d="M11.1111111,28.3022222 L11.1111111,30 L0,30 L0,28.3022222 C0,26.1177778 1.41888889,24.2822222 3.37888889,23.6166667 C2.67555556,23.0055556 2.22222222,22.1155556 2.22222222,21.1111111 C2.22222222,19.27 3.71444444,17.7777778 5.55555556,17.7777778 C7.39666667,17.7777778 8.88888889,19.27 8.88888889,21.1111111 C8.88888889,22.1155556 8.43555556,23.0055556 7.73222222,23.6166667 C9.69222222,24.2822222 11.1111111,26.1177778 11.1111111,28.3022222 Z" id="Path"></path>
                                                <path d="M21.1111111,12.2222222 L10,12.2222222 L10,10.5244444 C10,8.34 11.4188889,6.50444444 13.3788889,5.83888889 C12.6755556,5.22777778 12.2222222,4.33777778 12.2222222,3.33333333 C12.2222222,1.49222222 13.7144444,0 15.5555556,0 C17.3966667,0 18.8888889,1.49222222 18.8888889,3.33333333 C18.8888889,4.33777778 18.4355556,5.22777778 17.7322222,5.83888889 C19.6922222,6.50444444 21.1111111,8.34 21.1111111,10.5244444 L21.1111111,12.2222222 Z" id="Path"></path>
                                                <path d="M31.1111111,28.3022222 L31.1111111,30 L20,30 L20,28.3022222 C20,26.1177778 21.4188889,24.2822222 23.3788889,23.6166667 C22.6755556,23.0055556 22.2222222,22.1155556 22.2222222,21.1111111 C22.2222222,19.27 23.7144444,17.7777778 25.5555556,17.7777778 C27.3966667,17.7777778 28.8888889,19.27 28.8888889,21.1111111 C28.8888889,22.1155556 28.4355556,23.0055556 27.7322222,23.6166667 C29.6922222,24.2822222 31.1111111,26.1177778 31.1111111,28.3022222 Z" id="Path"></path>
                                                <path d="M19.5055556,20.1866667 C20.0155556,20.5266667 20.1533333,21.2166667 19.8133333,21.7277778 C19.4722222,22.2388889 18.7811111,22.3755556 18.2722222,22.0355556 L15.5555556,20.2244444 L12.8388889,22.0355556 C12.3277778,22.3766667 11.6388889,22.2377778 11.2977778,21.7277778 C10.9577778,21.2177778 11.0955556,20.5266667 11.6055556,20.1866667 L14.4444444,18.2944444 L14.4444444,15.5555556 C14.4444444,14.9422222 14.9422222,14.4444444 15.5555556,14.4444444 C16.1688889,14.4444444 16.6666667,14.9422222 16.6666667,15.5555556 L16.6666667,18.2944444 L19.5055556,20.1866667 Z" id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>

                        </ul>
                        <div class="botttom-dots"><img src="{{site.baseurl}}/images/nav/bottom-dots.svg"/></div>
                    </div>


                </div>
            </div>



            <div class="row searchblock-mobile">
                <div class="col-md-12">
                    {% include search.html %}
                </div>
            </div>

        </div>
    </div>


</header>
