---
layout: default
section: documents
slug: documents
title: Documents | Minormatters
---

<div class="row page-content-wrap">
    <div class="col-md-12">
    <div class=" main-content page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
            <div class="fullwidth">

        <div class="row">

            {% include heading.html %}

            <div class="col-md-12 intro-block">
                <div class="fullwidth intro-block-wrap">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 intro-txt">
                            <h1>Resources</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row latest-list">


            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Freedom of Religion or Belief</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Protection from Discrimination</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Limitations to Freedom of Religion or Belief</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>The Right to Manifest (Practice) Religion or Belief</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>The Right to Have or Change Religion or Belief</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Introduction to Freedom of Religion or Belief</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Stories Untold : A reflection by Venerable Dammajothi Thero</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Circular Vs Constitution</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 same-height-row col-md-12  document-block-item">
                <div class="element-block " >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Stories Untold : Mob disrupts funeral service</h3>
                        </div>
                    </a>
                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>
    </div>

    </div>


    <div class="side-widget page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
        <div class="side-bar-inner fullwidth">


            {% include search.html %}

            <div class="fullwidth vertual-box full-side-img side-img-wrap">
                <div class="side-bar-gradient fullwidth">

                    <div class="vertual-box-txt full-side-img-in">
                        <h3>Take a virtual tour<br/>through history</h3>
                        <p>Experience and learn events from the past through our virtual museum.</p>
                    </div>

                </div>
            </div>

        </div>
        </div>
    </div>

</div>






</div>