---
layout: default
section: pick-a-course
slug: pick-a-course
title: Courses | Minormatters
---

<div class="row page-content-wrap">
    <div class="col-md-12">
    <div class="main-content page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
            <div class="  fullwidth">

        <div class="row">

            {% include heading.html %}

            <div class="col-md-12 intro-block">
                <div class="fullwidth intro-block-wrap">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 intro-txt">
                            <h1>Courses</h1>
                            <p>Choose between our Scheduled or Self-paced courses based on your prefered learning style. Scheduled Courses follow a guided pathway
                                to completing the course with live sessions and coursework that spans over five weeks. Self-paced courses offer a
                                less intense flow of work with coursework and recorded sessions. You can achieve certification by completing all coursework.</p>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 intro-img">
                            <div class="fullwidth img-wrap"><img src="{{site.baseurl}}/images/home/pick-a-course-img.svg" /></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="row latest-list">
            <div class="col-md-12">
                <div class="latest-list-title"><h2>Just click to start</h2></div>
                <div class="latest-list-search">
                    <div class="search-wrap">
                        <select id="filter-course">
                            <option value="all">Status : All</option>
                            <option value="enrol-shed">Enroll now : Scheduled</option>
                            <option value="enrol-self">Enroll now : Self paced</option>
                            <option value="ongoing-shed">Ongoing : Scheduled</option>
                            <option value="ongoing-self">Ongoing : Self paced</option>
                            <option value="cs-shed">Coming soon : Scheduled</option>
                            <option value="cs-self">Coming soon : Self paced</option>
                            <option value="pr-shed">Previously offered : Scheduled</option>
                            <option value="pr-self">Previously offered : Self paced</option>
                        </select>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 same-height-block  col-md-6 element-block-wrap" data-value="ongoing-shed" >
                <div class="element-block category-three" >
                    <a href="{{site.baseurl}}/pick-a-course/pick-a-lesson.html">
                    <div class="element-block-inner">
                        <h3>The State of FoRB in Sri Lanka</h3>
                        <p>This course discusses the history and contemporary dynamics of the freedom of religion or belief in Sri Lanka and explores
                            how FoRB intersects with other freedoms.</p>
                    </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Ongoing : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 same-height-block  col-md-12  element-block-wrap" data-value="ongoing-shed" >
                <div class="element-block category-three" >
                    <a href="{{site.baseurl}}/pick-a-course/lesson-2.html">
                    <div class="element-block-inner">
                        <h3>Addressing issues in the Digital Space: Freedoms and Democracy</h3>
                        <p>This course provides an overview of the digital space and an introduction to key elements such as algorithms, datafication and surveillance capitalism.
                            The course also discusses issues of FoRB as it relates to the digital space in Sri Lanka.</p>
                    </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Ongoing : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-lg-4 same-height-block  col-md-12  element-block-wrap" data-value="cs-shed" >
                <div class="element-block category-three" >
                    <a href="#">
                    <div class="element-block-inner">
                        <h3>Understanding Religious Extremism in Sri Lanka</h3>
                        <p>This course analyses the historical and contemporary dynamics in relation to religious extremism in Sri Lanka.
                            The course also discusses the different drivers of and strategies to counter religious extremism.
                        </p>
                    </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Coming soon : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 same-height-block  col-md-12  element-block-wrap" data-value="cs-shed">
                <div class="element-block category-three" >
                    <a href="#">
                    <div class="element-block-inner">
                        <h3>Using Social Media to promote Religious Coexistence</h3>
                        <p>This course guides the user on how social media could be effectively utilised to promote religious coexistence
                            and counter religious hate in the digital space.</p>
                    </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Coming soon : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 same-height-block  col-md-12  element-block-wrap" data-value="cs-shed">
                <div class="element-block category-three" >
                    <a href="#">
                        <div class="element-block-inner">
                            <h3>Hate Speech and FoRB</h3>
                            <p>This course provides a comprehensive account on hate speech and guides the user to distinguish between free speech and hate speech.</p>
                        </div>
                    </a>

                    <div class="elemnt-info">
                        <div class="icons-wrap">
                            <span class="course-status">Coming soon : Scheduled</span>
                            <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    </div>
    </div>

    <div class=" side-widget page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
        <div class="side-bar-inner fullwidth">

            {% include search.html %}

            <div class="fullwidth vertual-box full-side-img side-img-wrap" >
                <div class="side-bar-gradient fullwidth">


                <div class="vertual-box-txt full-side-img-in">
                    <h3>Take a virtual tour<br/>through history</h3>
                    <p>Experience and learn events from the past through our virtual museum.</p>
                </div>

                </div>
            </div>


        </div>
        </div>
    </div>


</div>



</div>