---
layout: default
section: pick-a-lesson
slug: pick-a-lesson
title: Pick A Lesson | Addressing issues in digital space | Minormatters
---

<div class="row page-content-wrap">
    <div class="col-md-12">
        <div class="main-content page-content-inner same-height ">
            <div class="fullwidth scrollbar-inner">
                <div class="  fullwidth">

                    <div class="row">

                        {% include heading.html %}
                        <div class="col-md-12 back-to-link"><a href="../pick-a-course/">< Back to courses</a></div>
                        <div class="col-md-12 intro-block">
                            <div class="fullwidth intro-block-wrap">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-sm-12 intro-txt">
                                        <h1>Addressing issues in digital space</h1>
                                        <p>This course provides an overview of the digital space and an introduction to key elements such as algorithms, datafication and surveillance capitalism.
                                            The course also discusses issues of FoRB as it relates to the digital space in Sri Lanka.</p>
                                        <a href="https://forms.gle/Dhgc5vQmLBbwkBa7A" target="_blank" class="registr-now-btn">Register Now</a>
                                    </div>


                                    <div class="col-lg-4 col-md-12 col-sm-12 author-img">
                                        <div class="author-img-box">
                                            <div class="tutor-img-in"><img src="{{site.baseurl}}/images/home/authors/author-niya.jpg" /></div>
                                            <span>Niyanthini Kadiragamar</span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>






                    </div>



                    <div class="row latest-list">
                        <div class="col-md-12">
                            <h2>Lesson Plan</h2>
                        </div>


                        <div class="col-lg-4 same-height-row col-md-12  lesson-block-item">
                            <div class="element-block " >
                                <a href="#">
                                    <div class="element-block-inner">
                                        <h2>LESSON 1:</h2>
                                        <h3>Introduction to the digital space</h3>
                                    </div>
                                </a>

                                <div class="elemnt-info">
                                    <div class="icons-wrap">
                                        <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4 same-height-row col-md-12  lesson-block-item">
                            <div class="element-block  " >
                                <a href="#">
                                    <div class="element-block-inner">
                                        <h2>LESSON 2:</h2>
                                        <h3>Architecture of the digital space</h3>
                                    </div>
                                </a>

                                <div class="elemnt-info">
                                    <div class="icons-wrap">
                                        <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-4 same-height-row col-md-12  lesson-block-item">
                            <div class="element-block  " >
                                <a href="#">
                                    <div class="element-block-inner">
                                        <h2>LESSON 3:</h2>
                                        <h3>Public sphere, democracy and religiosity in the digital space</h3>
                                    </div>
                                </a>

                                <div class="elemnt-info">
                                    <div class="icons-wrap">
                                        <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="col-lg-4 same-height-row col-md-12  lesson-block-item">
                            <div class="element-block  " >
                                <a href="#">
                                    <div class="element-block-inner">
                                        <h2>LESSON 4:</h2>
                                        <h3>Addressing issues in the digital space</h3>
                                    </div>
                                </a>

                                <div class="elemnt-info">
                                    <div class="icons-wrap">
                                        <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                                    </div>
                                </div>

                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>


        <div class=" side-widget page-content-inner same-height">
            <div class="fullwidth scrollbar-inner">
                <div class="side-bar-inner fullwidth">


                    {% include search.html %}

                    <div class="fullwidth play-game full-side-img side-img-wrap">
                        <div class="side-bar-gradient fullwidth">

                            <div class="vertual-box-txt full-side-img-in">
                                <h3>Take a break <br/>Play a game!</h3>
                                <p>Fight issues as you play.</p>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


</div>