/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

.fullwidth{
    float: left;
    width: 100%;
}

a, input, button, select, textarea{
    &:focus{
        outline: 0 !important;
    }
}

a{
    text-decoration: none;
    transition: all .2s ease-in-out;
    -webkit-transition:  all .2s ease-in-out;
    -moz-transition:  all .2s ease-in-out;
}
img {
    max-width: 100%;
}
body{
    overflow-x: hidden;
    padding-top: 40px;
    font-family: 'Bw Modelica' !important;


    .page-container{
        max-width: 100%;
        padding-right: 20px;
        padding-left: 40px;

        @media (max-width: 1400px) {
            padding-right: 15px;
            padding-left: 15px;
        }


         .main-content{
             width: calc(100% - 400px);
             float: left;
             padding-right:   0px;
             padding-top: 12px;

             @media (max-width: 1200px) {
                 width: calc(100% - 300px);
             }



             @media (max-width: 1023px) {
                 width: 100%;
                 padding-right:  0px;
                 height: auto !important;
             }
         }


        .side-widget{
            width: 400px;
            float: left;
            padding-left: 20px;

            @media (max-width: 1200px) {
                width: calc(300px);
            }



            @media (max-width: 1023px) {
                width: 100%;
                padding-left:  0px;
                height:auto !important;
            }
        }

    }
}




.fullwidth{
    float: left;
    width: 100%;
}





header{

    &.header-desktop{
        width: 120px;
        height: calc(100vh - 90px);
        position: fixed;

        @media (max-width: 1400px) {
            width: 90px;
        }

        @media (max-width: 1023px) {
            display:none;
        }
    }

    &.header-mobile{
        display: none;

        @media (max-width: 1023px) {
            display:block;
        }
    }
}

.page-content{
    float: right;
    width: calc(100% - 120px);
    padding-left: 40px;

    @media (max-width: 1400px) {
        width: calc(100% - 90px);
    }

    @media (max-width: 1023px) {
       width: 100%;
        padding-left: 0px;
        padding-top: 105px;
    }

    .heading-line{
        padding-bottom: 35px;

        @media (max-width: 1023px) {
            display: none;
        }

        h2{
            padding: 0 0 4px 0px;
            margin: 0;

            img{
                display: inline-block;
                width: auto;
            }
        }

        h3{
            font-weight: 400;
            font-size: 22px;
            color: #5B989A;
            padding: 0;
            margin: 0;
            font-weight: 400;
        }
    }


    .intro-block-wrap{
        background-image: linear-gradient(134deg, #F2F2F2 0%, #EEEEEE 100%);
        border-radius: 20px;
        padding: 38px 28px;

        @media (max-width: 1023px) {
            padding: 20px;
        }


        .intro-txt{


            h1{
                font-weight: 700;
                font-size: 30px;
                color: #4E5A5A;
                padding: 0px 0 9px 0px;
                margin: 0px;

                @media (max-width: 1023px) {
                    font-size: 28px;
                }
            }
            h3{
                font-weight: 700;
                font-size: 22px;
                color: #4E5A5A;
                padding: 0px 0 9px 0px;
                margin: 0px;

                @media (max-width: 1023px) {
                    font-size: 20px;
                }
            }

            h2{
                padding: 0px 0 14px 0px;
                margin: 0px;

                img{
                    display: inline-block;

                    @media (max-width: 1023px) {
                        width: 203px;
                    }
                }
            }

            p{
                font-weight: 500;
                font-size: 15px;
                color: #5A999A;
                line-height: 25px;
                margin: 0;
                padding:  0 0 13px 0;

                @media (max-width: 1023px) {
                    font-size: 15px;
                    line-height: 23px;
                }
            }

            a{
                background: #5A999A;
                border-radius: 10px;
                height: 40px;
                line-height: 40px;
                display: inline-block;

                font-weight: 700;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;

                padding: 0px 35px;
                text-decoration: none;

                &:hover{
                    color: #FADD0D;
                }

                @media (max-width: 1023px) {
                    font-size: 13px;
                    height: 38px;
                    line-height: 38px;
                }
            }
        }
    }
}

.header-mobile{
    width:100%;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    z-index: 4;
    padding-top: 20px;

    .header-top{
        float: left;
        width: 100%;
        padding-bottom: 13px;

        .search-line{
            width: 50px;
            float: left;
            padding-left: 15px;
            padding-top: 5px;
            cursor: pointer;

            a{
                float: right;
            }
        }

        .home-logo{
            float: left;
            width: calc(100% - 50px);
            padding-bottom: 13px;

            .heading-line{
                background: url('../images/icons/heart-mobile.png') left 15px center no-repeat;
                padding-left: 65px;

                h2{
                    padding: 0 0 3px 0px;
                    margin: 0;
                    font-size: 1rem;

                    img{
                        width: 152px;
                    }
                }

                h3{
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                    font-size: 15px;
                    color: #5B989A;
                }
            }
        }
    }


    .nav-wraper{
        background: #5A999A;
        border-radius: 10px;

        .botttom-dots{
            width: 60px;
            text-align: center;
            float: left;

            img{
                display: inline-block;
                width: 22px;
                padding-top: 27px;
            }
        }

        ul{
            float: left;
            width: calc(100% - 60px);
            text-align: center;
            padding: 0;
            margin: 0;

            li{
                display: inline-block;
                list-style-type: none;
                float: left;
                padding: 0px 7px;


                @media (max-width: 400px) {
                    padding: 0px 3px;
                }

                a{
                    float: left;
                    height: 56px;
                    width: 40px;
                    padding-top: 13px;

                    svg{
                        width: auto;
                        height: 20px;
                    }

                    .svg-inner{
                        fill:#fff;
                        transition: all .2s ease-in-out;
                    }

                    &.active, &:hover{
                        background: url('../images/nav/mobile-nav-select.png') center bottom no-repeat;


                        .svg-inner{
                            fill: #5A999A;
                        }
                    }
                }
            }
        }
    }


    .searchblock-mobile{
        display: none;

         .search-form{
            display: block;
             padding: 10px 0 0 0;

             .search-form-in{
                 border-radius: 8px;
             }

             .search-form-in {
                 input[type="submit"]{
                     height: 40px;
                 }

                 input[type="text"] {
                     height: 40px;
                     line-height: 40px;
                     font-size: 14px;
                 }
             }
        }
    }
}


.header-desktop{
    background: #5A999A;
    border-radius: 20px;

    .header-inner{
        float: left;
        width: 100%;

        .heading{
            padding : 30px 0;
            text-align: center;
            img{
                display: inline-block;
            }
        }

        .nav-wraper{
            float: left;
            width: 100%;

            ul{
                float: left;
                width: 100%;
                padding: 0;
                margin: 0;

                li{
                    float: left;
                    width: 100%;
                    text-align: center;
                    list-style-type: none;

                    a{
                        width: 100%;
                        float: left;
                        height: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background-position:  center right -100px;

                        .svg-inner{
                            fill:#fff;
                            transition: all .2s ease-in-out;
                        }

                        &.active, &:hover{
                            background: url('../images/nav/nav-highlighter.png') right center no-repeat;

                            @media (max-width: 1400px) {
                                background-size: auto 80px;
                            }

                            @media ( max-height: 850px) {
                                background-size: 90px  80px;
                            }
                            .svg-inner{
                                fill: #5A999A;
                            }
                        }

                        svg{
                            @media (max-width: 1400px) {
                                width: auto;
                                height: 25px;
                            }
                        }

                        @media (max-height: 850px) {
                            height: 80px;
                        }
                    }
                }
            }
        }
    }

    .botttom-dots{
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 40px;
    }
}

footer{
    float: left;
    width: 100%;
    padding : 10px 0;
    position: relative;

    @media (max-width: 1023px) {
       padding: 30px 0px;
    }

    .container{
        max-width: 1200px;
    }


    .footer-bottom{
        text-align: center;

        div{
            float: none;
            display: inline-block;
            padding:0px 20px;
        }

        .footer-rights{
            margin-top: 5px;
            font-weight: 400;
            line-height: 20px;
            font-size: 14px;
            color: #4E5A5A;
            text-align: center;
        }

        .footer-contact{
            margin-top: 5px;
            border-left: 1px solid #4E5A5A;
            border-right: 1px solid #4E5A5A;

            font-weight: 400;
            line-height: 20px;
            font-size: 14px;
            color: #4E5A5A;
            text-align: center;

            @media (max-width: 1200px) {
                border-right: 0px solid #4E5A5A;
            }

            @media (max-width: 991px) {
               width: 100%;
                border-left: 0px solid #4E5A5A;
                padding: 15px 0px;
            }

            a{
                color: #5A999A;
                font-weight: 700;
            }
        }

        .footer-social{
            @media (max-width: 1200px) {
                width: 100%;
            }
            a{
                margin: 0px 5px;
                display: inline-block;

                img{
                    max-width: 25px;
                }

                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }


}

.scrollbar-inner{
    max-height: calc(100vh - 100px);

    @media (max-width: 1023px) {
        max-height: none;
    }
}

.search-form{
    padding-bottom: 40px;

    @media (max-width: 1024px) {
        padding-top: 40px;
    }

    @media (max-width: 1023px) {
        display: none;
    }

    .search-form-in{
        background: #F2F2F2;
        border-radius: 16px;
        padding: 0px 20px;

        input[type="submit"]{
            height: 54px;
            width: 30px;
            border:0;
            float: left;
            font-size: 0;
            background: url('../images/icons/icon-search.png') left center no-repeat;
        }

        input[type="text"]{
            height: 54px;
            line-height: 54px;
            border:0;
            width: calc(100% - 30px);
            float: left;
            background: transparent;

            font-weight: 500;
            font-size: 14px;
            color: #5B989A;

            &::placeholder{
                color: #5B989A;
            }
        }


    }

}


.side-widget{
    padding-top: 12px;

    .side-bar-inner{
        height: 100%;




        .side-bar-gradient{
            height: 100%;
            background: url('../images/pick-a-course/sidebar-gradient.png') bottom center no-repeat;
            background-size: cover;
        }

        .full-side-img{
            background-size: cover;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            height: calc(100vh - 260px);
            min-height: 600px;
        }

        .full-side-img-in{
            position: absolute;
            bottom: 35px;
            padding:0 40px;
            width: 100%;

            @media (max-width: 1023px) {
                position: relative;
                float: left;
                width: 100%;
                padding: 400px 20px 20px 20px;
                bottom: 0;
            }

            h3{
                font-weight: 700;
                font-size: 28px;
                color: #FFFFFF;

                @media (max-width: 1023px) {
                    font-size: 22px;
                }
            }

            p{
                font-weight: 500;
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: #FFFFFF;
                line-height: 25px;

                @media (max-width: 1023px) {
                    font-size: 15px;
                }
            }

        }
    }
}

.hover-text {
    display: inline-block;
    position: absolute;
    background: #EEEEEE; 
    border-radius: .4em;
    padding: 10px; 
    font-size: 12px;
    font-weight: 500;
    color: #5A999A;
    margin-top: 30px;
}

.hover-text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #EEEEEE;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}
