.page-documents{

  .document-block-item{
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;


    @media (max-width: 1200px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;

      .element-block{
        min-height: 250px;
      }

    }

    @media (max-width: 1023px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 10px;
    }

    @media (max-width: 767px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .element-block{
      float: left;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      background: #D1ECE8;
      padding: 35px 28px;
      height: 100%;
      position: relative;
      min-height: 320px;
      transition: all .2s ease-in-out;

      &:before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        left: 0;
        top:0;
        background: url('../images/documents/block-gradient.png') bottom center no-repeat;
        background-size: 100% auto;
        z-index: 2;
      }

      @media (max-width: 1023px) {
        padding: 30px 29px;
        min-height: 240px;
      }

      .element-block-inner{
        padding-top: 50px;
      }

      a{
        text-decoration: none;
        z-index: 3;
        position: relative;
        display: block;

        h3 {
          font-weight: 700;
          padding: 0;
          margin: 0;
          font-size: 22px;
          color: #5A999A;
          text-decoration: none;

          @media (max-width: 1023px) {
            font-size: 20px;
          }
        }


      }


      &:hover{
        background: #5A999A;

        h3{
          color: #FFFFFF;
        }

        p{

          color: #FFFFFF;
        }
      }


    }

    .elemnt-info{
      position: absolute;
      bottom: 30px;
      left: 0;
      padding: 0px 30px;
      width: 100%;
    }

  }

}