.page-home{


  .intro-txt{
    @media (max-width: 1200px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


  .intro-img{
    text-align: right;
    vertical-align: bottom;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @media (max-width: 1200px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .img-wrap{
      height: 100%;
    }


    img{
      width: auto;
      max-width: 100%;
      display: inline-block;
    }
  }


  .bottom-banner{

    .btm-banner-wrap{
      border-radius: 20px;
      overflow: hidden;

      img{
        float: left;
        width: 100%;
      }
    }
  }


  .vtour-wrap{

    .vtour{
      background: url('../images/home/vtour-bg.jpg') left center no-repeat;
      border-radius: 20px;
      background-size: cover;
      overflow: hidden;
      min-height: 320px;
      padding: 45px 40px;

      @media (max-width: 1023px) {
        padding: 24px 20px;
        min-height: 275px;
      }

      .vtour-info{
        float: left;
        width: 100%;
        max-width: 270px;

        h3{
          font-weight: 700;
          font-size: 26px;
          color: #FFFFFF;
          padding: 0 0 13px 0;
          margin: 0;

          @media (max-width: 1023px) {
            font-size: 25px;
          }
        }

        p{
          font-weight: 500;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 25px;

          @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

    }
  }



  .awards-wrap{

    padding-bottom: 40px;

    @media (max-width: 1023px) {
      padding-bottom: 10px;
    }
    .awards-inner{
      border-radius: 20px;
      overflow: hidden;

      img{
        float: left;
        width: 100%;
      }
    }
  }




  .news-subscribe{
    padding-bottom: 40px;

    @media (max-width: 1023px) {
      padding-bottom: 10px;
    }

    .news-subscribe-inner{
      background-image: linear-gradient(209deg, #F5F5F5 49%, #D1ECE8 100%);
      border-radius: 20px;
      padding: 37px 28px;

      @media (max-width: 1023px) {
        padding: 24px 18px;
      }

      h3{
        font-weight:700;
        font-size: 30px;
        color: #4E5A5A;
        line-height: 38px;
        padding: 0 0 29px 0px;
        margin: 0;

        @media (max-width: 1200px) {
          font-size: 28px;
        }

        @media (max-width: 1023px) {
          font-size: 25px;
          padding: 0 0 25px 0px;
        }
      }

      .form-wrap{

        input[type="text"],  input[type="email"]{
          background: #FFFFFF;
          border-radius: 10px;
          padding: 0px 20px;
          height: 54px;
          line-height: 54px;
          margin: 0 0 15px 0px;
          border:0px;
          width: 100%;
          float: left;

          font-weight: 500;
          font-size: 15px;
          color: #5B989A;

          @media (max-width: 1023px) {
            height: 42px;
            line-height: 42px;
            font-size: 14px;
          }

          &::placeholder{
            color: #5B989A;
          }

        }

        input[type="submit"]{
          background: #5A999A;
          border-radius: 10px;
          height: 54px;
          line-height: 54px;
          border:0;
          padding: 0;
          margin: 0;
          width: 100%;
          float: left;

          font-weight: 700;
          font-size: 14px;
          color: #FFFFFF;
          text-align: center;

          &:hover{
            color: #FADD0D;
          }

          @media (max-width: 1023px) {
            height: 42px;
            line-height: 42px;
          }
        }

      }
    }

  }



  .pick-a-course{
    padding-bottom: 40px;

    @media (max-width: 1023px) {
      padding-bottom: 10px;
    }

    .pick-a-course-inner{
      background-image: linear-gradient(180deg, #99C394 0%, #56A36E 100%);
      border-radius: 20px;
      overflow: hidden;
      padding: 31px 0px 0px 28px;

      @media (max-width: 1023px) {
        padding: 24px 0px 0px 18px;
      }
    }


    h3{
      font-weight: 700;
      font-size: 30px;
      color: #FFFFFF;
      padding: 0 0 37px 0;
      margin: 0;

      @media (max-width: 1023px) {
        font-size: 25px;
      }
    }

    .img-wraper{
      float: left;
      width: 100%;
      text-align: right;

      img{
        width: auto;
        max-width: 100%;
        display: inline-block;
      }
    }
  }


  .extra-box{

    .tutors-box-inner {
      background-image: linear-gradient(209deg, #F5F5F5 49%, #D1ECE8 100%);
      border-radius: 20px;
      padding: 32px 28px;

      .img-wraper{
        padding-top: 30px;
        text-align: center;

        img{
          display: inline-block;
          width: auto;
          max-width: 100%;
        }
      }

      h3{
        font-weight: 700;
        font-size: 30px;
        color: #4E5A5A;
        padding: 0;
        margin: 0;

        @media (max-width: 1023px) {
          font-size: 25px;
        }
      }
    }
  }



  .tutors-box{
    margin-bottom: 40px;

    .tutors-box-inner{
      background-image: linear-gradient(209deg, #F5F5F5 49%, #D1ECE8 100%);
      border-radius: 20px;
      padding: 32px 28px;
      min-height: 300px;

      @media (max-width: 1023px) {
        min-height: 200px;
        padding: 24px 20px;
      }

      h3{
        font-weight: 700;
        font-size: 30px;
        color: #4E5A5A;
        padding: 0;
        margin: 0;

        @media (max-width: 1023px) {
          font-size: 25px;
        }
      }

      .tutors-list{
        padding-top: 23px;
        text-align: center;

        .tutor-img{
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          width: 33.333333%;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          padding-bottom: 30px;


          .tutor-img-in{
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 15px;
            display: inline-block;

            @media (max-width: 1200px) {
              height: 70px;
              width: 70px;
            }
            @media (max-width: 1023px) {
              height: 100px;
              width: 100px;
            }
            @media (max-width: 500px) {
              height: 70px;
              width: 70px;
            }

            img{
              width: 100%;
              height:auto;
            }
          }

          span{
            padding-top: 12px;
            display: inline-block;
            width: 100%;
            font-size: 12px;
            font-weight: 700;
            color: #202330;
            text-align: center;
          }
        }
      }
    }
  }


}


.contact-box {
  padding-top: 40px;


  .contact-box-inner{
    background-image: linear-gradient(209deg, #F5F5F5 49%, #D1ECE8 100%);
    border-radius: 20px;
    padding: 32px 28px;
    min-height: 100px;

    h3{
      font-weight: 700;
      font-size: 30px;
      color: #4E5A5A;
      padding: 0;
      margin: 0;
    }
  }

  .contact-list{
    text-align: center;
    padding-top: 20px;

    a{
      font-weight: 500;
      font-size: 18px;
      color: #5A999A;
      line-height: 25px;
    }
  }


}


.latest-list{
  padding-top: 34px;

  @media (max-width: 1023px) {
    padding-top: 24px;
  }


  .latest-list-title{
    float: left;
    width: 300px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .latest-list-search{
    float: left;
    width: calc(100% - 300px);

    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
    }

    .search-wrap{
      float: right;
      width: auto;
      display: inline-block;
      border: 1px solid #D1DDED;
      padding: 0px 20px 0 15px;
      height: 40px;
      line-height: 40px;
      background: url('../images/icons/srop-arrow-dwn.png') right 10px center no-repeat #fff;
      overflow: hidden;
      border-radius: 15px;

      @media (max-width: 767px) {
        float: none;
        display: inline-block;
      }

      select{
        float: left;
        width: calc(100% + 40px);
        background: transparent;
        height: 40px;
        line-height:40px;
        border:0;
        font-weight: 500;
        color: #4E5A5A;
      }
    }
  }


  h2{
    font-weight: 700;
    font-size: 30px;
    color: #4E5A5A;
    padding: 0 0  18px 0px;
    margin: 0;
    width: auto;
    display: inline-block;

    @media (max-width: 1023px) {
      font-size: 25px;
    }
  }

  a.view-more{
    font-weight: 700;
    font-size: 14px;
    color: #5A999A;
    text-align: right;
    float: right;
    text-decoration: none;
    padding-top: 15px;

    &:hover{
      color: #FADD0D;
    }

    @media (max-width: 768px) {
      display: none;
    }

  }

  .element-block-wrap{
    padding-bottom: 40px;

    @media (max-width: 1200px) {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      min-height: 320px;
    }

    @media (max-width: 1023px) {
      min-height: 220px;
      padding-bottom: 10px;
    }

    &.video-box-wrap, &.cat-two-block{
      @media (max-width: 1023px) {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
      }

      @media (max-width: 500px) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }
    }

    .element-block{
      float: left;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      height: 100%;


      .elemnt-info{
        position: absolute;
        bottom: 30px;
        left: 0;
        padding: 0px 30px;
        width: 100%;

        @media (max-width: 1023px) {
          padding: 0px 20px;
          bottom: 20px;
        }

        h3{
          font-weight: 700;
          font-size: 22px;
          color: #FFFFFF;
          padding: 0;
          margin: 0;

          @media (max-width: 1023px) {
            font-size: 20px;
          }

        }

        h2{
          font-weight: 700;
          font-size: 38px;
          color: #FFFFFF;
          line-height: 40px;
          padding: 0;
          margin: 0;
          max-width: 200px;

          @media (max-width: 1023px) {
            font-size: 30px;
          }
        }


      }
    }
  }

  .viewmore-mobile{
    display: none;
    text-align: center;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      display: block;
    }

    a.view-more{
      font-weight: 700;
      font-size: 14px;
      color: #5A999A;
      display: inline-block;
      text-decoration: none;
      float: none;
    }
  }



  .first-video{
    background-position: top center;
    background-size: cover;

    .element-block-inner{
      float: left;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(67,73,94,0.00) 0%, rgba(32,35,48,0.90) 100%);
      position: relative;
      min-height: 300px;

      @media (max-width: 1023px) {
        min-height: 220px;
      }
    }
  }




  .category-three{
    background: #EEEEEE;
    padding: 35px 28px;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;


    @media (max-width: 1023px) {
      padding: 27px 18px;
    }

    .element-block-inner{
      float: left;
      width: 100%;
      height:100%;
      position: relative;
      padding-bottom: 30px;
    }

    h3{
      font-weight: 700;
      font-size: 28px;
      color: #5A999A;
      padding: 0 0 11px 0px;
      margin: 0;
      transition: all .2s ease-in-out;

      @media (max-width: 1023px) {
        font-size: 20px;
      }
    }

    p{
      font-weight: 500;
      font-size: 15px;
      color: #5A999A;
      line-height: 25px;
      transition: all .2s ease-in-out;

      @media (max-width: 1023px) {
        font-size: 15px;
        line-height: 23px;
      }

    }


    &:hover{
      background: #5A999A;

      h3{
        color: #FFFFFF;
      }

      p{

        color: #FFFFFF;
      }

      .course-status{
        color: #fff;
      }
    }

  }


}


.icons-wrap{
  float: left;
  width: 100%;
  padding-top: 16px;

  .course-status{
    font-weight: 500;
    font-size: 12px;
    color: #5A999A;
    line-height: 25px;
    transition: all .2s ease-in-out;
  }

  a{

    &.play{
      float: left;
      cursor: pointer;
      filter: brightness(0%) invert(1);

      &:hover{
        filter: invert(0);
      }
    }

    &.like{
      float: right;
      cursor: pointer;
      filter: brightness(0%) invert(1);

      &.active, &:hover{
        filter: grayscale(0%);
      }
    }
  }
}