.page-pick-a-course{


  .element-block-wrap{

    @media (max-width: 1200px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media (max-width: 1023px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

  }

  .intro-block{

    .intro-txt{
      @media (max-width: 1024px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

    }

    .intro-img{
      text-align: right;
      vertical-align: bottom;

      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      @media (max-width: 1024px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }


      img{
        float: right;
        margin-right: -28px;
        margin-bottom: -38px;
        max-width: 100%;
        width: auto;

        @media (max-width: 1023px) {
          margin-right: -20px;
          margin-bottom: -20px;
        }
      }
    }

  }
}



.side-widget{
  .vertual-box{
    background-image: url('../images/pick-a-course/vtour-side-bg.jpg')  ;
  }
}