.page-pick-a-lesson{

  .registr-now-btn{
    background: #5A999A;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 0px 35px;
    text-decoration: none;
  }

  .flashing{
    background: url('../images/icons/icon-flash.png') left  center no-repeat;
    padding-left: 25px;
    font-weight: 700;
    font-size: 15px;
    color: #5A999A;
    line-height: 25px;
    display: inline-block;
  }

  .back-to-link{
    text-align: right;
    padding-bottom: 22px;

    @media (max-width: 1023px) {
     padding-top: 10px;
    }

    a{
      display: inline-block;

      font-weight: 700;
      font-size: 14px;
      color: #5A999A;
      text-align: right;
      text-decoration: none;

      &:hover{
        color: #FADD0D;
      }
    }
  }

  .author-img{
    text-align: right;

    @media (max-width: 1023px) {
       text-align: center;
      padding-top: 15px;
    }

    .author-img-box{
      display: inline-block;
      width: 100px;

      .tutor-img-in{
        height: 100px;
        width: 100%;
        overflow: hidden;
        border-radius: 15px;

        img{
          width: 100%;
          height:auto;
        }
      }

      span{
        padding-top: 14px;
        display: inline-block;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        color: #202330;
        text-align: center;
      }
    }
  }


  .side-widget{

    .full-side-img{
      background-image: url('../images/pick-a-course/play-a-game.jpg');
    }
  }



  .lesson-block-item {

    @media (max-width: 1300px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media (max-width: 1023px) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 10px;
    }

    @media (max-width: 767px) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


  }


.lesson-block-item{
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;



  .element-block{
    float: left;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 35px 28px;
    min-height: 320px;
    transition: all .2s ease-in-out;

    @media (max-width: 1200px) {
      min-height: 250px;
    }

    @media (max-width: 1023px) {
      padding: 29px 20px;
    }

    .element-block-inner{
      float: left;
      width: 100%;
      height: 100%;

      h2{
        font-weight: 700;
        font-size: 16px;
        color: #5A999A;
        padding:0 0 9px 0px;
        margin: 0;
        text-transform: uppercase;

        @media (max-width: 1023px) {
          font-size: 15px;
        }
      }

      h3{
        font-weight: 700;
        font-size: 26px;
        color: #5A999A;
        padding:0;
        margin: 0;

        @media (max-width: 1023px) {
          font-size: 20px;
        }
      }
    }


    .elemnt-info{
      position: absolute;
      bottom: 30px;
      left: 0;
      padding: 0px 30px;
      width: 100%;
    }
  }

  &:nth-child(2), &:nth-child(8){
    .element-block{
      background: #EDF6EE;
    }
  }
  &:nth-child(3), &:nth-child(9){
    .element-block{
      background: #E6F2E9;
    }
  }
  &:nth-child(4), &:nth-child(10){
    .element-block{
      background: #DBEBDE;
    }
  }
  &:nth-child(5), &:nth-child(11){
    .element-block{
      background: #D6EBDA;
    }
  }
  &:nth-child(6), &:nth-child(12){
    .element-block{
      background: #CCE4D2;
    }
  }
  &:nth-child(7), &:nth-child(13){
    .element-block{
      background: #BFD9C5;
    }
  }

  &:hover{
    .element-block {
      background: #5A999A;

      h3, h2 {
        color: #FFFFFF;
      }

      p {

        color: #FFFFFF;
      }
    }
  }

}