.page-video{


  .latest-list {

    .element-block-wrap {
      @media (max-width: 1200px) {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (max-width: 1024px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;

        .element-block{
          min-height: 250px;
        }
      }


      @media (max-width: 1023px) {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

  }
}