@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-RegularItalic.woff2') format('woff2'),
        url('BwModelica-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Bold.woff2') format('woff2'),
        url('BwModelica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Regular.woff2') format('woff2'),
        url('BwModelica-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-ExtraBold.woff2') format('woff2'),
        url('BwModelica-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Medium.woff2') format('woff2'),
        url('BwModelica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

