---
layout: default
section: video
slug: video
title: Videos | Minormatters
---

<div class="row page-content-wrap">
    <div class="col-md-12">
    <div class="main-content page-content-inner same-height ">
        <div class="fullwidth scrollbar-inner">
            <div class="fullwidth">


        <div class="row">

            {% include heading.html %}

            <div class="col-md-12 intro-block">
                <div class="fullwidth intro-block-wrap">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 intro-txt">
                            <h1>Videos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row latest-list">

            <div class="col-lg-4 col-md-6 same-height-row element-block-wrap">
                <div class="element-block first-video" style="background-image: url('https://img.youtube.com/vi/ZpM8g27GzLY/hqdefault.jpg');">
                    <div class="element-block-inner">
                        <div class="elemnt-info">
                            <h3>FoRB:The Book</h3>
                            <div class="icons-wrap">
                                <a class="play" data-caption='{"caption" : "FoRB:The Book",  "time" : "1:57"}' href="https://www.youtube.com/watch?v=ZpM8g27GzLY&amp;autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0" data-fancybox="gallery" ><img src="{{site.baseurl}}/images/icons/icon-play.svg" /></a>
                                <a class="like"><img src="{{site.baseurl}}/images/icons/icon-like.svg" /></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
    </div>
    </div>


    <div class="side-widget page-content-inner same-height">
        <div class="fullwidth scrollbar-inner">
        <div class="side-bar-inner fullwidth">


            {% include search.html %}

            <div class="fullwidth vertual-box full-side-img side-img-wrap">
                <div class="side-bar-gradient fullwidth">

                    <div class="vertual-box-txt full-side-img-in">
                        <h3>Take a virtual tour<br/>through history</h3>
                        <p>Experience and learn events from the past through our virtual museum.</p>
                    </div>

                </div>
            </div>

        </div>
        </div>
    </div>


</div>

</div>



