<!DOCTYPE html>
<html lang="en" xml:lang="en">

{% include head.html %}

<body class="page-{{page.section}}">
  <div class="fullwidth">
    <div class="container page-container">
      <div class="row main-content-wrap">
        <div class="col-md-12 main-content-wrap-in">

          <div class="fullwidth">
                {% include header.html %}

                <div class="page-content">

                  {{ content }}

                </div>
          </div>

{% include footer.html %}


      </div>
    </div>
  </div>
</body>

</html>
